html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

*:after, *:before {
  box-sizing: border-box;
  clear: both; }

.clear {
  clear: both; }

.modal-container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto; }
  .modal-container .modal-wrap {
    width: 33%;
    height: 480px;
    border: 1px solid #E5E5E5; }
    .modal-container .modal-wrap .modal-trigger {
      box-sizing: border-box;
      width: auto;
      min-width: 120px;
      line-height: 1.2;
      border: 1px solid #000;
      border-radius: 8px;
      margin: 400px auto 0 auto; }

.inline-wrap {
  float: left;
  position: relative; }
  .inline-wrap:before {
    clear: both; }
  .inline-wrap:after {
    clear: both; }

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  height: 100%;
  width: 100%;
  -webkit-transition: 200ms all 200ms ease;
  -moz-transition: 200ms all 200ms ease;
  -ms-transition: 200ms all 200ms ease;
  -o-transition: 200ms all 200ms ease;
  transition: 200ms all 200ms ease; }
  .modal-overlay.modal-open {
    opacity: 1;
    display: block;
    -webkit-transition: 200ms all 200ms ease;
    -moz-transition: 200ms all 200ms ease;
    -ms-transition: 200ms all 200ms ease;
    -o-transition: 200ms all 200ms ease;
    transition: 200ms all 200ms ease; }
  .modal-overlay.animated-drop {
    -webkit-transition: 400ms all 400ms ease;
    -moz-transition: 400ms all 400ms ease;
    -ms-transition: 400ms all 400ms ease;
    -o-transition: 400ms all 400ms ease;
    transition: 400ms all 400ms ease;
    -webkit-transition: 400ms all 300ms ease;
    -moz-transition: 400ms all 300ms ease;
    -ms-transition: 400ms all 300ms ease;
    -o-transition: 400ms all 300ms ease;
    transition: 400ms all 300ms ease; }
    .modal-overlay.animated-drop.modal-open {
      opacity: 1;
      display: block;
      -webkit-transition: 400ms all 0ms ease;
      -moz-transition: 400ms all 0ms ease;
      -ms-transition: 400ms all 0ms ease;
      -o-transition: 400ms all 0ms ease;
      transition: 400ms all 0ms ease; }

.modal-body {
  position: absolute;
  opacity: 0;
  z-index: 1001;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-transition: 200ms all 200ms ease;
  -moz-transition: 200ms all 200ms ease;
  -ms-transition: 200ms all 200ms ease;
  -o-transition: 200ms all 200ms ease;
  transition: 200ms all 200ms ease;
  -webkit-transition: 400ms all 0ms ease;
  -moz-transition: 400ms all 0ms ease;
  -ms-transition: 400ms all 0ms ease;
  -o-transition: 400ms all 0ms ease;
  transition: 400ms all 0ms ease; }
  .modal-body.animated-drop {
    top: -50%; }
    .modal-body.animated-drop.modal-open {
      top: 50%;
      -webkit-transition: 400ms all 300ms ease;
      -moz-transition: 400ms all 300ms ease;
      -ms-transition: 400ms all 300ms ease;
      -o-transition: 400ms all 300ms ease;
      transition: 400ms all 300ms ease; }
  .modal-body.modal-open {
    opacity: 1;
    display: block; }

/*# sourceMappingURL=modal.css.map */
